{% extends "layout.html" %}
{% block body %}
	<h2>His ID is {{ page['usrid'] }}</h2>
	<h2>His drive place is {{ page['destination'] }}</h2>
	<h2>His start place is {{ page['board'] }}</h2>
	<h2>His start time is {{ page['time'] }}</h2>
	<h2>session logged_in is {{ session.logged_in }}</h2>
	<h2>Welcome!</h2>
	<h2>Ask he?</h2>
	<form action="{{ url_for('ask') }}" method=post>
		<dl>
			<dt>Your Comment:
			<dd><input type=text name=usrid />
			<input type="hidden" name=fique value={{ page['query'] }} />
			<dd><input type=submit value=Check In />
		</dl>
	</form>
	<h2>Check in?</h2>
{% endblock %}
