{% extends "layout.html" %}
{% block body %}
	<h2>drive place is {{ page['destination'] }}</h2>
	<h2>start place is {{ page['board'] }}</h2>
	<h2>start time is {{ page['time'] }}</h2>
	<h2>session logged_in is {{ session.logged_in }}</h2>
	<h2>Welcome!</h2>
	{% if myinfo != True %}
		{% if atended != True%}
		<h2>His ID is {{ page['usrid'] }}</h2>
		<h2>Ask he?</h2>
		<form action="{{ url_for('ask') }}" method=post>
			<dl>
				<dt>Your Comment:
				<dd><input type=text name=comment />
				<input type="hidden" name=fique value={{ page['query'] }} />
				<dd><input type=submit value=Check In />
			</dl>
		</form>
		<h2>Check in?</h2>
		{% else%}
		<h2></h2>
	{% else %}
	<h1>乗りたい人リスト</h1>
	{% for list in page['list'] %}
		<p>{{ list }}さん</p>
	{% endfor %}
	{% endif %}
	
{% endblock %}
